@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {font-family: 'Rubik', sans-serif;}
.lnnm { font-family: 'Bricolage Grotesque', sans-serif; }
.stnm { font-family: 'Montserrat', sans-serif; }